/** typography**/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Crimson+Text&family=DM+Serif+Display:ital@0;1&family=Indie+Flower&family=Lora:ital,wght@1,600&family=Montserrat:wght@900&family=Pacifico&family=Playfair+Display:ital,wght@0,400;1,400;1,500&family=Source+Code+Pro:wght@500&display=swap');

:root{
    --primary-color: #4f46e5;
}

hr{
    margin:2rem 0rem;
}
body{
    font-family: 'Cinzel', serif;
font-family: 'Crimson Text', serif;
font-family: 'DM Serif Display', serif;
font-family: 'Indie Flower', cursive;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Source Code Pro', monospace;
}

/** container **/

.container{
    padding-left: 0.5rem;
    padding-right: 2rem;
}

.container-center{
    max-width: 500px;
    margin: auto;
}
/** links **/
.link{
    text-decoration: none;
    padding: .8rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.8rem ;
    color: white;
   
}
.link-secondary{
    color: var(--primary-color);
    border-radius: 0.8rem ;
    border: 2px solid var(--primary-color); 
}
/** lists**/

.non-bullet{
   list-style: none; 
}
.list-inline-item{
   display:inline;
   padding:0rem 0.8rem;
}

/** Nav **/


.navigation-container{
background-color: var(--primary-color);
border-bottom-left-radius: 1rem;
border-top-right-radius: 1rem;


color:white;
padding:0.8rem;

}
.navigation-container .link{
    color:white;
    
}
.non-bullet-nav-pills{
    text-align: right;
}
.navigation-container .nav-magic {
    font-weight: bold ;
    font-size: large;
} 
.navigation-container .active-link{
    font-weight: bold;
}